{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_end(registrationForm) }}
    <div id="bg">
        <div class="module">
            <ul>
                <li class="tab activeTab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
                <li class="tab" ><img src="https://i.imgur.com/ZsRgIDD.png" alt="" class="icon"/></li>
                <li class="tab" ><img src="https://i.imgur.com/34Q50wo.png" alt="" class="icon"/></li>
                <li class="tab" ><img src="https://i.imgur.com/LCCJ06E.png" alt="" class="icon"/></li>
            </ul>
            {{ form_end(registrationForm) }}
            <form class="form">
                <input type="text" placeholder="Email" class="textbox" value="{{ form_row(registrationForm.email) }}" />
                <input type="password" placeholder="Password" class="textbox" value=" {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}" />
                {{ form_end(registrationForm) }}
                <button type="submit" class="btn">Register</button>
            </form>

        </div>
    </div>
    {{ form_end(registrationForm) }}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
