
{% block body %}
    <title>Login</title>
    <link rel="icon" href="{{ asset ('upload/productImage/h12.jpg') }}">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
    ></script>
    <section class="vh-100" style="background-color: #FFFAF9">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;" >
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{{ asset('upload/productImage/h11.jpg')}}"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form action="{{ path('login') }}" method="post">
                                        <a>
                                            <div class="d-center align-items-center mb-7 pb-1" style="margin-left: 25%; font-size: 80px">
                                                <span class="h1 fw-bold mb-0" style="color: #505050">Login</span>
                                            </div></a>

                                        <div class="form-outline mb-4">
                                            <input type="text" id="username" name="_username" class="form-control form-control-lg" value="{{ last_username }}" />
                                            <label class="form-label" for="username">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="password" name="_password" class="form-control form-control-lg" />
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                        <input type="hidden" name="_target_path" value="{{ path('user_list') }}"/>
                                        <input type="hidden" name="_failure_path" value="{{ path('login') }}"/>
                                        {% if error %}
                                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                        </div>


                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{ path('register_list') }}"
                                                                                                                  style="color: #393f81;">Register here</a></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .form-outline{
            background-color: #FAFAFA;
        }
    </style>

{% endblock %}